* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-container {
    padding-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  gap: 20px;
}
.todo-container p {
  font-size: 1.2rem;
}
